.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
  }
  
  .carousel-content {
    text-align: center;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .left-arrow, .right-arrow {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    color: black; /* Adjust color as needed */
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }
  